body {
    font-family: arial,sans-serif;
    background-color: #202124;
    color: #bdc1c6;
    font-size: 14px;
}

a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 5px;
    left: 95%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9.55%;
}

#search {
    position: relative;
    left: 1000px;
    top: 25px;
    width: 527px;
    height: 34px;
    background-color: #202124;
    border: 1px solid  gray;
    border-radius: 20px;
    color: white;
    padding-left: 20px;
}

#button {
    position: relative;
    left: 600px;
    top: 90px;
    padding: 5px 15px;
    border: none;
    background-color: #303134;
    color: white;
    width: 129px;
    height: 36px;
    font-size: 14px;
    margin-right: 8px;
}